.addModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    margin: 0;
    z-index: 100;
}

.addModal.active{
    transform: translate(-50%, -50%) scale(1);
}

.addModal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.addModal-header .addModal-title{
    font-size: large;
    font-weight: bold;
}

.addModal-header .clse-btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: large;
    font-weight: bold;
}

.addModal-body{
    height: 300px;
    padding: 10px 10px;
    margin: 0;
}

.addModal-footer{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
}

.addInput{
    color: black;
    border: 1px solid green;
    background-color: white;
    border-radius: 2px;
    width: 300px;
    height: 30px;
    padding: 5px 5px;
}

.addBtn{
    font-size: 15px;
    padding: 5px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 65px;
    height: 25px;
    color: white;
    cursor: pointer;
    background-color: rgb(18, 117, 18);
}

.addBtn:hover{
    color: rgb(228, 228, 228);
    background-color: rgb(12, 136, 12);
}

.addBtn:disabled{
    color: rgb(90, 90, 90);
    background-color: rgb(158, 158, 158);
    cursor: not-allowed;
}

.addForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.addForm hr{
    border: none;
    height: 1px;
    background-color: grey;
}

.form-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addFormInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color:green;
}

.add-empty{
    color: red;
    font-size: 10px;
}