.date-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    margin: 0;
    z-index: 100;
}

.date-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.date-modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

.date-modal-header .date-modal-title{
    font-size: large;
    font-weight: bold;
}

.date-modal-header .date-clse-btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: large;
    font-weight: bold;
}

.date-modal-body{
    height: 200px;
    padding: 10px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.date-modal-footer{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
}

.date-day-sel{
    height:30px;
    width: 50px;
}

.date-btn{
    font-size: 15px;
    padding: 5px 2px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 67px;
    height: 25px;
    color: white;
    cursor: pointer;
    background-color: rgb(18, 117, 18);
}
