.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food-diary-section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    max-width: 1000px;
    margin-bottom: 10px;
}

.sec-one-right{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.sec-one-stats{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.sec-one-stats span{
    font-weight: 500;
}

.cal-data{
    font-weight: 700;
}

.content-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    margin: 2px;
    background-color: rgb(218, 214, 214);
}

.food-diary-section-two{
    display: flex;
    min-height: 400px;
    max-width: 1000px;
    margin-bottom: 5px;
}

.section-one-content{
    height: 120px;
    width: 530px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
}

.date{
    border: 1px solid black;
    height: 70px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.date-day{
    font-size: 20px;
    font-weight: 200;
}

.sec-one-buttons{
    display: flex;
    justify-content: space-between;
    width: 275px;
    padding-bottom: 10px;
}

.section-two-content{
    min-height: 300px;
    width: 800px;
}

.sec-one-fat, .sec-one-cal, .sec-one-protein, .sec-one-carbs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cal-data, .carb-data, .fat-data, .protein-data{
    display: flex;
    justify-content: center;
    color: black;
}

.no-items{
    text-align: center;
    color: rgb(167, 164, 164);
    width: 100%;
}

.diary-add-btn{
    font-size: 15px;
    padding: 5px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 110px;
    height: 25px;
    color: white;
    cursor: pointer;
    background-color: rgb(18, 117, 18);
}

.sec-one-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    margin: 2px;
    background-color: rgb(218, 214, 214);
}