.inputField{
    position: relative;
    max-width: 92%;
}

.fieldLabel{
    margin-left: 15px;
    color: grey;
    display: block;
    font-size: 9px;
    line-height: 1;
    opacity: 0;
    overflow: hidden;
    padding: 8px 5px;
    position: absolute;
    top: 0;
    text-align: left;
    pointer-events: none;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    z-index: 50;
    transform: translateY(3px);
    transition: all .2s ease-out;
}

.field_not_empty .fieldLabel{
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transform: none;
}

.fieldInput{
    height: 45px;
    margin-left: 11px;
    background-color: inherit;
    border: 1px solid green;
    color: green;
    font-size: 21px;
    padding: 7px;
    width: 100%;
    transition: all .2s ease-in-out;
}

.field_not_empty .fieldInput{
    padding-top: 18px;
    padding-bottom: 2px;
}

.err{
    margin-right: 10px;
    color: red;
}