*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgb(255, 252, 249);
    border: 1px solid rgb(52, 255, 52);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.content h1{
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
}

.content form input{
    width: 92%;
    outline: none;
    border: 1px solid rgb(208, 255, 208);
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: inherit;
}

.content button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    cursor: pointer;
    background-color: rgb(18, 117, 18);
}

.content button:hover{
    color: rgb(228, 228, 228);
    background-color: rgb(12, 136, 12);
}

.content input:focus{
    border: 1px solid rgb(193, 252, 193);
    background-color: rgb(253, 249, 243);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
    cursor: pointer;
}

.terms label input{
    margin-right: 0.3rem;
}

.terms a{
    color: blue;
    text-decoration: none;
}

.members{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: black;
}

.members a{
    margin-left: 0.5rem;
    color: blue;
    text-decoration: none;
}

.help{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.forgot{
    color: blue;
    cursor: pointer;
}