.nav-bar{
    z-index: 21;
    max-height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 97, 46);
}

.nav-logo h1{
    text-decoration: none;
    color: rgb(254, 236, 200);
    margin-top: 2px;
}

.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1px;
}

.menu-div{
    width: 25px;
    height: 3px;
    background-color: rgb(254, 236, 200);
    margin: 6px 0;
    margin-left: 3px;
}