.nav-bar{
    z-index: 99;
    max-height: 100px;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: center;
    background-color: rgb(10, 97, 46);
}

.nav-logo a{
    text-decoration: none;
    color: white;
}