*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: rgb(255, 252, 249);
    border: 1px solid rgb(52, 255, 52);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
}

form input{
    width: 92%;
    outline: none;
    border: 1px solid rgb(208, 255, 208);
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: inherit;
}

.signupBtn{
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: white;
    cursor: pointer;
    background-color: rgb(18, 117, 18);
}

.signupBtn:disabled{
    color: rgb(90, 90, 90);
    background-color: rgb(158, 158, 158);
    cursor: not-allowed;
}

.content button:hover{
    color: rgb(228, 228, 228);
    background-color: rgb(12, 136, 12);
}

.content input:focus{
    border: 1px solid rgb(193, 252, 193);
    background-color: rgb(253, 249, 243);
}

.content .terms{
    margin-top: 0.2rem;
}

.content .terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 1px;
}

.content .terms label{
    font-size: 0.7rem;
    cursor: pointer;
}

.members{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: black;
}

.members a{
    margin-left: 0.5rem;
    color: blue;
    text-decoration: none;
}

.term-serv-click{
    color: blue;
    cursor: pointer;
    font-size: 0.7rem;
}

.term-serv-end{
    font-size: 0.7rem;
    cursor: pointer;
}

.checkErr{
    color: red;
    font-size: 0.7rem;
}

.sign-up-err{
    color: red;
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.sign-up-btn-handler{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}